/* Global Styles*/
body {
    background-color: #FEC556;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Mobile Styles */

#container {
    background-color: #E7503B;
    padding-bottom: 5px;
    margin: 10px 10px;
    border-radius: 20px 20px;
}

header {
    background-image: url('../images/gameover.jpg');
    background-size: cover;
    padding: 50px 0;
    border-radius: 20px 20px 0 0;
}

header h1 {
    color: #E7503B;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: #FEC556;
    color: #593636;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px 0;
    border-radius: 10px;
}

nav li a:hover {
    background-color: #E7503B;
    text-shadow: 2px 2px 2px #593636;
}

nav, section, aside, .col, footer {
    background-color: #53BCBD;
    color: #593636;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border: 4px solid #593636;
    border-radius: 10px;
}

h2, h3 {
    color: #E7503B;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 2px 2px 2px #593636;
    font-size: 1.5em;
    text-align: center;
}

section img, aside img {
    width: 50%;
}

.button {
    display: block;
    background-color: #FEC556;
    color: #593636;
    height: 40px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 10px auto;
    border-radius: 10px;
}

.button:hover {
    background-color: #E7503B;
    text-shadow: 2px 2px 2px #593636;
}

footer {
    text-align: center;
    color: #593636;
}

.single_col {
    width: 81%;
}

audio, video {
    display: block;
    margin: 20px auto;
    width: 75%;
}

.gallery_img {
    border: 4px solid #593636;
    border-radius: 10px;
    margin: 10px auto;
}

table {
    display: none;
}

/* Table Styles */

@media (min-width: 768px) {
    header {
        padding: 100px;
    }

    header h1 {
        font-size: 3em;
        font-family: 'Work Sans', sans-serif;
    }

    nav {
        text-align: center;
        padding: 5px;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        height: 50px;
        line-height: 50px;
        width: 200px; 
    }

    #upper_flex {
        display: flex;
    }

    section, aside {
        width: 45%;
    }
    
    aside img {
        width: 50%;
    }

    .col img {
        width: 60%;
        border-radius: 10px;
        border: 4px solid #593636;
    }

    .single_col {
        width: 95%;
    }

}

/*Desktop Styles  */

@media(min-width: 1024px) {
    #container {
        width: 75%;
        margin: 20px auto;
        border: 4px solid #53BCBD;
        border-radius: 20px;
    }

    header {
        background-size: cover;
        padding: 50px 0;
    }

    nav li a {
        margin: 0 20px;
    }

    #lower_flex {
        display: flex;
    }

    .col {
        width: 100%;
    }

    .col img {
        width: 100%;
    }

    .single_col {
        width: 100%;
    }

    table, tr, td {
        border: 4px solid #593636;
        padding: 10px;
        margin: 10px;
    }

    table img {
        width: 100%;
    }

    .gallery {
        display: none;
    }

    table {
        display: block;
    }

}